@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Permanent+Marker&display=swap");

:root {
  /*
  * Colors
  */
  --primary: #33691e;
  --secondary: #00796b;
  --grey-1: #212121;
  --grey-2: #616161;
  --grey-3: #9e9e9e;
  --grey-4: #fafafa;
  --color-type-body: var(--grey-1);
  --color-type-text: var(--grey-4);
  --success: #4caf50;
  --info: #03a9f4;
  --warn: #ff9800;
  --error: #f44336;

  /*
  * Fonts
  */
  --base-font-family: "Open Sans", sans-serif;
  --logo-font-family: "Permanent Marker", cursive;
  --base-font-lineheight: 1.5em;

  /*
  * Layout
  */
  --border-radius: 4px;
  --spacing-medium: 24px;
}
