.textInput {
  padding: 16px 0;
}

form {
  margin-bottom: 24px;
}

input {
  display: block;
  border-radius: var(--borderRadius);
  border-color: rgba(0, 0, 0, 0.23);
  border-width: 1px;
  padding: 16.5px 14px;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  margin-top: 4px;
}
