@import "../../_settings/_variables.css";

.btn {
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  font-family: var(--base-font-family);
  height: 32px;
  letter-spacing: 0.078125rem;
  min-width: 64px;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn:enabled:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.btn:disabled {
  color: var(--grey-2);
  background: color(var(--grey-4) tint(40%));
  border-color: var(--grey-4);
  cursor: default;
}

/* Theme */
.btn__primary {
  background: var(--primary);
  color: var(--grey-4);
}
.btn__secondary {
  background: var(--secondary);
  color: var(--grey-4);
}
.btn__error {
  background: var(--error);
  color: var(--grey-1);
}
.btn__info {
  background: var(--info);
  color: var(--grey-1);
}
.btn__success {
  background: var(--success);
  color: var(--grey-1);
}
.btn__warn {
  background: var(--warn);
  color: var(--grey-1);
}
