@import "../../_settings/_variables.css";

/* Variant */
.h1 {
  color: green;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.09375rem;
  text-align: center;
  text-transform: uppercase;
}
