h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.09375rem;
  /* color: var(--color-text); */
}

table {
  width: 100%;
  min-width: 650px;
  font-size: 0.875rem;
}

th,
td {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 16px;
}

th {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.pageContainer {
  margin: 0 auto;
  width: 1080px;
}
.showAddItem {
  /* background-color: var(--color-primary); */
  /* color: var(--color-textOnPrimary); */
  padding: 8px 22px;
}

.showAddItem:hover {
  /* background-color: var(--color-primaryDark); */
}

.gearTableAndInspector {
  display: flex;
}

.addItem {
  width: 100%;
  margin: 24px auto;
}
